@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
:root{
    --bg-color:#000000;
    --second-color:#130013;
    --text-color: #fff;
    --main-color: #be00fe;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background: var(--bg-color);
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
}

html::-webkit-scrollbar{
    width: 0.8rem;
}
html::-webkit-scrollbar-track{
    background: var(--bg-color);
}
html::-webkit-scrollbar-thumb{
    background: var(--main-color);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3rem 9%;
    background: rgba(0, 0, 0, 0.7);
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 3rem;
    color: var(--main-color);
    font-weight: 800;
    cursor: pointer;
    transition: .5s ease;
}

.logo span{
    color: var(--text-color);
}

.logo:hover{
    transform: scale(1.1);
}

.nav a{
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: .3s ease;
    border-bottom: 3px solid transparent;
}

.nav a:hover,
.nav a.active{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

@media (max-width:750px){
    #menu-icon{
        display: block;
    }
    .nav{
        display: none;
    }
}

section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background: var(--bg-color);
}

.home .home-content h1{
    font-size: 7rem;
    font-weight: 700;
    line-height: 1.1;
}

.home span{
    color: var(--main-color);
}

.home-img{
    border-radius: 50%;
}
.home-img img{
    position: relative;
    width: 32vw;
    height: 30vw;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 25px var(--main-color);
    transition: .3s ease;
}
.home-img img:hover{
    transform: scale(1.01);
    filter: drop-shadow(0 0 25px var(--main-color));
}

.home-content h3{
    font-size: 4.5rem;
    margin-bottom: 1rem;
    font-weight: 700;
}
.home-content p {
    font-size: 2rem;
    font-weight: 500;
}
.sosial-icon a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 8rem;
    background: transparent;
    border: 0.2rem solid var(--main-color);
    font-size: 2rem;
    border-radius: 30%;
    margin: 3rem 1.5rem 3rem 0;
    transition: .3s ease;
}
.sosial-icon a i{
    font-size: 5rem;
    color: var(--main-color);
    transition: .3s ease;
}
.sosial-icon a:hover{
    transform: scale(1.3)translateY(-5px);
    background: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
}
.sosial-icon a:hover i{
    color: white;
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--bg-color);
    border-radius: 4rem;
    font-size: 2rem;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: .3s ease;
    cursor: pointer;
}
.btn:hover{
    transform: scale(1.03);
    background-color: var(--main-color);
    color: var(--text-color);
    box-shadow: 0 0 25px var(--main-color);
} 

.typing-text {
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}
.typing-text span{
    position: relative;
}
.typing-text span::before{
    content: '';
    color: var(--main-color);
    animation: words 20s infinite;
}

@media (max-width:1100px) {
    .home{
        gap: 4rem;
    }
}
@media (max-width:910px) {
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }
    .home .home-content h3{
        font-size: 2.5rem;
    }
    .home-content h1{
        font-size: 5rem;
    }
    .home-img img{
        width: 70vw;
        height: 70vw;
        margin-top: 4rem;
    } 
}

.hobby{
    background: var(--second-color);
}

.heading{
    font-size: 5rem;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.hobby-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2.5rem;
}
.hobby-box{
    background-color: var(--main-color);
    height: 560px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3rem;
    border-radius: 3rem;
    border: 4px solid var(--main-color);
    cursor: pointer;
    transition: .3s ease;
}

.hobby-box:hover{
    background: transparent;
    color: var(--text-color);
    transform: scale(1.03);
}
.hobby-box .hobby-img{
    display: flex;
    width: 80%;
    height: 50%;
    align-items: center;
    justify-content: center;
}
.hobby-box .hobby-img img{
    width: 100%;
    height: 100%;
    border-radius: 15%;
}

.hobby-box .hobby-info{
    display: flex;
    flex-direction: column;
    text-align: left;
    max-height: 200px;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}

.hobby-box .hobby-info h4{
    font-size: 3.5re;
}
.hobby-box .hobby-infop{
    font-size: 1.5rem;
}

.skills{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #be00fe;
}

.container{
    position: absolute;
    top: 250%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    background: var(--second-color);
    box-shadow: 0 30px 50px var(--main-color);
}

.container .slide .item{
    width: 300px;
    height: 400px;
    position: absolute;
    top: 65%;
    transform: translate(0,-50%);
    border-radius: 20px;
    box-shadow: 10px 10px 20px var(--bg-color);
    background-position: 50% 50%;
    background-size: cover ;
    display: inline-block;
    transition: .5s; 
}
.slide .item:nth-child(1),
.slide .item:nth-child(2){
    top: 0;
    left: 0;
    transform: translate(0,0);
    border-radius: 0;
    width: 100%;
    height: 100%;
}

.slide .item:nth-child(3){
    left: 60%;
}
.slide .item:nth-child(4){
    left: calc(60% + 320px);
}
.slide .item:nth-child(5){
    left: calc(60% + 640px);
} 

.slide .item:nth-child(n+6){
    left: calc(60% + 960px);
} 

.item .content{
    position: absolute;
    top: 40%;
    left: 300px;
    width: 600px;
    text-align: left;
    color: #000000;
    background-color: #ffffff2c;
    border-radius: 40px;
    margin: 0;
    padding: 10px;
    font-family: system-ui;
    display: none;
}

.slide .item:nth-child(2) .content{
    display: block;
}

.content .name{
    font-size: 600;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 100;
    animation: animate 1s ease-in-out 1 forwards;
}

.content .des{
    margin-top: .5rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    opacity: 0;
    animation: animate .5s ease-in-out .3s 1 forwards;

}
.content button{
    padding: 20px 40px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 4rem;
    color: var(--text-color);
    background: var(--main-color);
    opacity: 100;
    animation: animate .5s ease-in-out .5s 1 forwards;
}

.button button:hover{
    transform: scale(1.1);
}

@keyframes animate{
    from{
        opacity: 0;
        transform: translate(0,100px);
        filter: blur(33px);
    }
    to{
        opacity: 1;
        transform: translate(0,0);
        filter: blur(0);
    }
}

.button{
    width: 600px;
    text-align: center;
    position: absolute;
    bottom: 5%;
    left: calc(60% );
}

.button button{
    width: 60px;
    height: 40px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    margin: 0 2rem;
    padding: 0;
    font-size: 2rem;
    color: var(--text-color);
    background: var(--main-color);
    transition: .3s ease;
} 
.button button:hover{
    transform: scale(1.1);
}